<ul>
    <li><a href="https://twitter.com/pialacode" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
    <li><a href="https://github.com/sonia9uppal" target="_blank"><i class="fa fa-github-square"></i></a></li>
    <li><a href="mailto:sonia9uppal@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
</ul>
